<!DOCTYPE html>
''" "
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -CorperWelfare</title>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Corper.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Alegreya+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link href="~/bower_components/bootstrap/dist/css/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
    

    @RenderBody()
   
        <script src="~/bower_components/angular/angular.js"></script>
        <script src="~/bower_components/angular-resource/angular-resource.js"></script>
        <script src="~/bower_components/angular-route/angular-route.js"> </script>
    <script src="~/bower_components/angular-validation/dist/angular-validation.js"></script>
    <script src="~/bower_components/angular-validation/dist/angular-validation-rule.js"></script>


        <script src="~/bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="~/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script src="~/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="~/bower_components/angular-animate/angular-animate.js"></script>
        <script src="~/bower_components/angular-touch/angular-touch.js"></script>
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <script src="~/bower_components/bootstrap/dist/css/bootstrap.js"></script>
  

        <script src="~/ng-Script/App.js"></script>
   
        <script src="~/ng-Script/Controller/Account/LoginController.js"></script>
        <script src="~/ng-Script/Services/Account/AuthService.js"></script>
        <script src="~/ng-Script/Services/Account/authInterceptorService.js"></script>
    <script src="~/ng-Script/Services/Corper/AllCorpersHttp.js"></script>
    <script src="~/ng-Script/Services/Corper/AllCorpersService.js"></script>
    <script src="~/ng-Script/Directive/CorperPager.js"></script>
    <script src="~/ng-Script/Directive/DashBoard.js"></script>
    
        <script src="~/ng-Script/Controller/Account/RegisterController.js"></script>
        <script src="~/ng-Script/Controller/Home/HomeController.js"></script>
        <script src="~/ng-Script/Controller/Home/indexController.js"></script>
        <script src="~/ng-Script/Controller/CollapseDemoCtrl.js"></script>
        <script src="~/ng-Script/Controller/EditCorpersController.js"></script>
    <script src="~/ng-Script/Services/MonthlyDues/MonthlyDues.js"></script>
    <script src="~/ng-Script/Services/MonthlyDues/PostMonthlyDues.js"></script>
    <script src="~/ng-Script/Services/MonthlyDues/TotalMonthly.js"></script>
    <script src="~/ng-Script/Controller/MonthlyDues/PostDuesController.js"></script>
    <script src="~/ng-Script/Controller/MonthlyDues/TotalSum.js"></script>

    <script src="~/ng-Script/Controller/MonthlyDues/TotalSum.js"></script>
    <script src="~/ng-Script/Controller/Corper/AddCorper.js"></script>
    <script src="~/ng-Script/Controller/Corper/AllCorpers.js"></script>
    <script src="~/ng-Script/Services/Corper/AddCorper.js"></script>
        <script src="~/bower_components/jquery/dist/jquery.js"></script>




   
   



  
</body>

</html>

