<div class="col-lg-offset-3">
    <div class="container">
        <pager total-pages="info.totalPages" current-page="info.currentPage" page-action="navigate(pageNumber)"></pager>
        <div class="well well-sm" role="alert">

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Corpers</div>
            <div class="panel-body">
                <form role="form">
                   
                    <div class="form-group-sm">
                        <label for="orderBy">order by</label>
                        <select id="orderBy" class="form-control" ng-model="options.orderBy" ng-options="sp for sp in info.sortableProperties" ng-change="clear()"></select>
                    </div>
                </form>
            </div>




            <div class="Container">






                <div class=" panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Corpers</div>
                    <div class="panel-body">
                    </div>

                    <table class="table table-bordered">

                        <tr>
                            <th>CorperID</th>
                            <th>StateCode</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Community</th>

                        </tr>


                        <tr ng-repeat=" c in pages[info.currentPage].Corpers">

                            <td>
                                {{c.CorperID}}
                            </td>
                            <td>
                                {{ c.Statecode }}
                            </td>
                            <td>
                                {{ c.Firstname}}
                            </td>

                            <td>
                                {{c.Lastname}}
                            </td>
                            <td>

                                {{c.Community}}
                            </td>
                            <td></td>
                            <td><button type="button" class="btn btn-primary" ng-click="GetCorper()">Edit</button>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="DeleteCorper()">Delete</button>


                            </td>




                        </tr>


                    </table>
                </div>
            </div>






        </div>






















        <pager total-pages="info.totalPages" current-page="info.currentPage" page-action="navigate(pageNumber)"></pager>
    </div>
</div>